/*#region ----------------- Dashboard */
.wrapper {
  display: flex;
  width: 100%;
}
#content {
  width: calc(100% - 280px);
  padding: 5px 15px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  &.active {
    width: 100%;
  }
}
#sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1010;
  background: white;
  color: white;
  transition: all 0.3s;
  box-shadow: -5px 0 20px rgba($color: #000000, $alpha: 0.08);
  padding-bottom: 30px;
  overflow-y: auto;
  &.active {
    margin-right: -280px;
  }
  .btn-close-sidebar {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 50%;
    color: $textGrey;
    border: none;
    background-color: transparent;
    @include displayFlex(none, center, center);
    .fi {
      display: flex;
    }
  }
  .logo {
    text-align: center;
    padding: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(14, 79, 199, 0.15),
        rgba(14, 79, 199, 0)
      );
    }
    img {
      width: 60px;
      margin: 0 auto;
    }
  }
  .list-nav {
    margin-top: 20px;
  }
  .nav-item {
    position: relative;
    padding-left: 8px;
    .sub-item {
      padding: 12px 20px 12px 5px;
      font-size: 0.9em;
      font-weight: 500;
      @include displayFlex(flex, center, flex-start);
      border-radius: 5px 0 0 5px;
      color: $textDark;
      position: relative;
      &:hover {
        color: $secondary;
        .fi {
          color: $secondary;
        }
      }
      .fi {
        color: $textSilver;
        margin-left: 15px;
        font-size: 20px;
        display: flex;
      }
      .badge {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
      }
      .icon {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 0;
      }
      &.btn-collapse {
        border: none;
      }
    }
    &.active {
      .sub-item {
        background-color: $primary;
        color: white;
        .fi {
          color: white;
        }
        .badge {
          background-color: white;
          color: $primary;
        }
        .icon {
          &::before {
            color: white;
          }
        }
      }
    }
    .card-collapse {
      ul {
        background-color: $background_light2;
        margin: 0;
        border-radius: $radius_Small;
        padding-right: 48px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 30px;
          width: 3px;
          height: 100%;
          border-right: 2px solid $borderColor;
        }
        li {
          a {
            padding: 10px;
            display: block;
            font-size: 0.9em;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: -21px;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: $borderColor;
            }
          }
          &.active a {
            color: $primary;
            font-weight: 700;
            &::before {
              background-color: $primary;
            }
          }
        }
      }
    }
  }
}
.siderbar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1009;
  background-color: rgba($color: #000000, $alpha: 0.5);
}
#mynavbar {
  background-color: white;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  padding: 10px 15px 10px 20px;
  box-shadow: 0 5px 10px -5px rgba($color: #000000, $alpha: 0.08);
  .admin {
    text-align: left;
    @include displayFlex(flex, center, flex-end);
    .dropdown-menu {
      .dropdown-item {
        @include displayFlex(flex, center, flex-start);
        font-size: 14px;
        font-weight: 500;
        padding: 10px;
        .fi {
          display: flex;
          font-size: 20px;
          margin-left: 10px;
          color: $textGrey;
          top: unset;
        }
        &:hover {
          .fi {
            color: $primary;
          }
        }
      }
    }
    .dropdown-toggle::after {
      position: relative;
      top: 3px;
    }
  }
  .item {
    margin-left: 10px;
  }
  .btn-navbar {
    width: 48px;
    height: 48px;
    position: relative;
    font-size: 22px;
    border-radius: 50%;
    border: 1px solid $borderColor;
    background-color: transparent;
    @include displayFlex(flex, center, center);
    .fi {
      display: flex;
    }
    .badge {
      position: absolute;
      right: -5px;
      top: -5px;
      &.dot {
        right: 0;
        top: 0;
      }
    }
  }
}
#sidebarCollapse {
  border: none;
  border-radius: 50%;
  display: inline-block;
  padding: 0;
  width: 48px;
  height: 48px;
  min-width: unset;
  &:hover {
    background-color: $background_light2;
  }
  &.active {
    transition: all 0.4s;
    .menu-lines {
      .line {
        width: 24px;
        &.line-1 {
          transform: rotate(0);
          top: unset;
          width: 24px;
          left: 0;
        }
        &.line-3 {
          transform: rotate(0);
          top: unset;
          width: 24px;
          left: 0;
        }
      }
    }
  }
  .menu-lines {
    position: relative;
    @include displayFlex(flex, center, center);
    flex-direction: column;
    .line {
      position: relative;
      display: inline-block;
      width: 23px;
      height: 2px;
      margin: 2px 0;
      background-color: $textGrey;
      transition: all 0.4s;
      &.line-1 {
        transform: rotate(45deg);
        top: 2px;
        width: 10px;
        left: 7px;
      }
      &.line-2 {
        opacity: 1;
      }
      &.line-3 {
        transform: rotate(-45deg);
        top: -2px;
        width: 10px;
        left: 7px;
      }
    }
  }
  .fi {
    font-size: 2em;
  }
}

// Main
.main-body-content {
  margin-top: 70px;
  height: 100%;
  background-color: white;
  border-radius: 0;
  .main-header {
    padding: 12px 5px;
    border-bottom: 1px solid $borderColor;
    .inner {
      @include displayFlex(flex, center, flex-start);
      position: relative;
      .page-back {
        margin-left: 20px;
        padding-left: 20px;
        border-left: 1px solid $borderColor;
        a {
          @include displayFlex(flex, center, center);
          flex-direction: column;
          color: $textDark;
          width: 55px;
          height: 55px;
          border-radius: 8px;
          background-color: rgba($color: $secondary, $alpha: 0.2);
          span {
            font-size: 12px;
            font-weight: 500;
            position: relative;
            top: -3px;
          }
          .fi {
            font-size: 24px;
            line-height: normal;
            position: relative;
            top: 3px;
          }
        }
        &:hover {
          a {
            color: white;
            background-color: $secondary;
          }
        }
      }
      .title {
        h1 {
          @include displayFlex(flex, center, flex-start);
          flex-wrap: wrap;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 0;
          color: $textDark;
          .fi {
            font-size: 22px;
            display: flex;
            margin-left: 10px;
            color: $textSilver;
          }
          span {
            font-size: 13px;
            margin-right: 10px;
            font-weight: 500;
            color: $textGrey;
          }
        }
        .breadcrumb {
          margin-top: 10px;
        }
      }
      .btns-action {
        margin-right: auto;
        @include displayFlex(flex, center, flex-end);
        gap: 5px;
        .btn-collapse {
          display: inline-block;
          width: auto;
          background-color: $accent;
          color: white;
          border-color: $accent;
        }
      }
    }
  }
  .main-inner {
    padding: 15px 15px 50px 15px;
  }
  .forms-group {
    .inputgroup {
      .input {
        background-color: white !important;
        border-color: $borderColor !important;
        &:hover,
        &:focus {
          border-color: $primary !important;
        }
        &:disabled {
          background-color: $background_light1 !important;
        }
      }
    }
  }
  // .filter-inner {
  //   display: flex;
  //   align-items: center;
  //   gap: 10px;
  // }
}

.side-notification {
  position: fixed;
  left: -300px;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: white;
  z-index: 1999;
  transition: all 0.2s ease-in-out;
  &.active {
    left: 0;
  }
  .side-inner {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .nav-tabs {
    flex-shrink: 0;
    .nav-link {
      flex-grow: 1;
    }
  }
  .tab-content {
    flex: 1 1 auto;
    overflow-y: auto;
    .tab-pane {
      margin-top: 0;
    }
  }
}
.notification-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1998;
  background-color: rgba($color: #000000, $alpha: 0.5);
  &.active {
    display: block;
  }
}

.chart-status {
  margin-top: 30px;
  h5 {
    .fi {
      margin-left: 10px;
      font-size: 22px;
      position: relative;
      top: 4px;
      color: $textGrey;
    }
  }
  .chart-content {
    margin-top: 15px;
    canvas {
      max-height: 350px !important;
    }
  }
}
.title-main-inner {
  h6 {
    font-weight: 800;
  }
}

@media (max-width: 992px) {
  #mynavbar {
    // grid-template-columns: 80px auto;
    // .logo {
    //   justify-content: center;
    //   margin-right: 0;
    // }
  }
  #sidebar {
    margin-right: -300px;
    position: fixed;
    &.active {
      margin-right: 0;
    }
    .btn-close-sidebar {
      display: flex;
    }
  }
  #content {
    width: 100%;
    padding: 10px;
    &.active {
      width: 100%;
    }
  }
  #sidebarCollapse {
    .menu-lines {
      .line {
        width: 24px;
        &.line-1 {
          transform: rotate(0);
          top: unset;
          width: 24px;
          left: 0;
        }
        &.line-3 {
          transform: rotate(0);
          top: unset;
          width: 24px;
          left: 0;
        }
      }
    }
  }
  .main-body-content .profile-info {
    ul {
      li {
        flex: 0 0 50%;
        width: 50%;
      }
    }
  }
  .siderbar-overlay {
    &.active {
      display: block;
    }
  }
}
@media (max-width: 768px) {
  .main-body-content .main-header {
    .inner {
      flex-direction: column;
      .title,
      .btns-action {
        flex: 1 1 auto;
        width: 100%;
      }
      .btns-action {
        margin-top: 15px;
      }
    }
  }
}
@media (max-width: 575px) {
  #mynavbar {
    .admin {
      .btn {
        font-size: 13px;
      }
      .btn-navbar {
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
      .dropdown {
        .dropdown-toggle .fi {
          font-size: 20px;
          top: 10px !important;
        }
        .btn {
          &.icon-right {
            padding-right: 2.4rem !important;
          }
        }
      }
    }
  }
  #sidebarCollapse {
    width: 40px;
    height: 40px;
  }
  .main-body-content {
    .main-header .inner {
      flex-wrap: wrap;
      .title {
        margin-bottom: 0;
      }
      // .search-action {
      //   flex: 0 0 100%;
      //   width: 100%;
      //   margin-top: 10px;
      //   text-align: left;
      //   .btn {
      //     font-size: 13px;
      //     font-weight: 400;
      //     &.icon-right {
      //       padding-right: 2.5rem;
      //     }
      //     &.icon-left {
      //       padding-right: 2.5rem;
      //     }
      //     .fi {
      //       font-size: 16px;
      //     }
      //   }
      // }
    }
  }
}
/*#endregion -------------- Dashboard */
