$primary: #0e4fc7;
$primaryLight: #277fe7;
$secondary: #025fc2;
$accent: #a8c416;

$color_red: #fa413d;
$color_yellow: #fccf31;
$color_orange: #fcae2a;
$color_blueLight: #3fc1f2;

$textDark: #1a1a1a;
$textGrey: #535355;
$textSilver: #9e9e9e;
$textwhite: #fff;
$textGrayLight: #f2f2f2;

$success: #22c55e;
$error: #ef4444;
$info: #0ea5e9;
$warning: #fbbf24;
$disabled: #e2e8f0;

$borderColor: #d2d3d4;

$background: #fff;
$background_light1: #f6f6f6;
$background_light2: #f2f3f4;

$bodyFont: Shabnam;
$iconFont_Regular: uicons-regular-straight;
$iconFont_Solid: uicons-solid-straight;

$fontSize_ExtraSmall: 13px;
$fontSize_Small: 14px;
$fontSize_Regular: 16px;
$fontSize_Large: 18px;
$fontSize_XLarge: 20px;

$radius_ExSmall: 2px;
$radius_Small: 5px;
$radius_Regular: 10px;
$radius_Large: 15px;
$radius_XLarge: 20px;
$radius_Full: 50rem;

$boxshadow_1: 0px 2px 8px rgba(0, 0, 0, 0.1);
$boxshadow_2: 0px 4px 20px rgba(0, 0, 0, 0.1);
$boxshadow_top: 0px -4px 20px rgba(0, 0, 0, 0.1);
